html{
	overflow: hidden;
    height: 100%;
	}
#body{
	margin: 0 auto;
	width:100%;
	height: auto;
	transition: 0.5s;
	overflow: auto;
}

#link{
	font-size:2em;
	font-family: 'PT Sans', sans-serif;
	display: inline-block;
	margin: 10px 0;
	}

#unreadLinks{
	float:left;
	height:50em;
	width:49%;
	overflow: scroll;
	direction: rtl;

}
#readLinks{
	height:50em;
	width:49%;
	float:right;
	
}
#wrapper {
    width: 80%;
    height: 50%;
    margin: auto;
    padding: 1em;
}
#clearWrapper{
	text-align:center;
}
#clearButton{
	text-align:center;	
	right:50%;
	z-index:2;
	border: none;
	transition: 0.5s;
	font-size: 10px;
	bottom:0;
	position: absolute;
	background-color:white;

	}

#clearButton:focus {
  outline: none;

}

#clearButton:hover{
	background-color:red;

	}​


#horizontalAlign{
	
	height:100%;
}

	
#yes{
	display:none;
	border: none;
	transition: 0.5s;
	font-size: 20px;
	bottom:0;
	position: absolute;
	float:right;
	right:50%;
	background:none;
    border: 2px solid black;
	font-family: 'PT Sans', sans-serif;
}
#no{
	display:none;
	border: none;
	transition: 0.5s;
	font-size: 20px;
	bottom:0;
	left:50%;
	position: absolute;
	float:left;
	background:none;
    border: 2px solid black;
	font-family: 'PT Sans', sans-serif;
}
#yes:hover {
  background-color: white;
  box-shadow: 0 5px black;
}
#no:hover {
  background-color: white;
  box-shadow: 0 5px black;
}
